<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Meatball_game</title>
        <link rel="stylesheet" 
            href="{{ url_for('static', filename='meatball_game.css')}}" 
            />
        <script src="{{ url_for('static', filename='meatball_game.js')}}" 
                type="module">
        </script>
    </head>
    <body>
            <canvas width="512" height="320">
            </canvas>
            <p id="outcome">
            </p>
    </body>
</html>